.blog-cards {
    color:rgb(192, 192, 192);
    
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    

    @include respond-to('wide') {
        grid-column: 1/4;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }

    .article {
        display:grid;   
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-areas: "header" "content" "footer";
        width: 100%;
        height: em(400px);
        margin: em(5px);

        @include solidborder (2px, black);
        
        .article-header, .article-footer{
            background-color:rgba(0, 0, 0, 0.508);
        }

        .article-header{
            grid-area: "header";
            display:grid;
            grid-template-columns: 2fr 1fr;

            .fa, .article-like{
                text-align: right;
                padding-right:50px;
            }
            .fa{
                padding-right:80px;
                font-size: 25px;
                cursor: pointer;
            }
        }

        .article-footer{
            grid-area: "footer";
            font-size: 14px;
            @include respond-to('wide') {
            font-size: 10px;
            }
        }
        .article-content{
            grid-area: "contetnt";
            background-color: rgba(0, 0, 0, 0.842);
            display: flex;
            align-items: center;
        }
        .article-content img{
            width:100%;
            max-height:210px;
        }

        @include respond-to('medium') {
            width: em(400px);
        }

    }

      
}