/* Slideshow container */
.featured {
    display: none;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
        h1 {
          color: white;
          text-shadow:
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        }
    @include respond-to('medium')
    {
      display: block;
        .text {
          display: none;
        }
        .prev, .next {
          display: none;
        }
      
    }
    @include respond-to('large')
    {
      display: block;
      background-color: rgba(248, 168, 56, 0.2);
      @include solidborder(2px, black);
      margin: 10px;
      .slideshow-container {
        .prev, .next {
          color: white;
          display: block;
          text-shadow:
          -1px -1px 0 #000,  
           1px -1px 0 #000,
           -1px 1px 0 #000,
            1px 1px 0 #000;
        }
      }
    }
    @include respond-to('wide')
    {
      width: auto;
      max-width: 100%;
      display: block;
      grid-column: 1/4;
      grid-row: 1;
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;
    }
    
}

.slideshow-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
     @include respond-to('wide'){
      margin: 20px;
     }
  }
  
  .mySlides {
      display: none;
      grid-column: 1/3;
      text-align: center;
      img {
        height: 350px;
        @include solidborder (2px, black);  
      }
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 16px;
    color: rgb(10, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    text-align: right;
    justify-content: flex-end;
    margin-left: 0px;
  }
  .prev {
    margin-left: auto;
  }
  
  
  /* Caption text */
  .text {
    color: #e4d9d9;
    font-size: 18px;
    padding: 8px 12px;
    bottom: 8px;
    width: 850px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.76);
    @include solidborder (2px, black);  
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    display: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(131, 129, 129);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    @include solidborder (1px, black);  
  }
  
  .active, .dot:hover {
    background-color: #e2e2e2;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }