.nav-banner {
    color:white;
    display: flex;
    width:100%;
    flex-direction: column;
    font-family: ‘Roboto Condensed’, sans-serif;
    position: fixed;


    .menu-label{
        font-size: 40px;
        background-color: rgb(0, 0, 0);
        text-align: center;
        height: 100px;
        z-index: 3;
    }


    .menu{
        display: flex;
        flex-direction: column;
        background-image:url(../../images/background.jpg);

        position: relative;
        width: 100%;

        transition: all 1.5s;
        h2{
            padding-bottom:20px;
        }
        li{
            display: flex;
            flex-direction: column;
            width:100%;
            padding-left:50px;
        }
    }
}

#checkbox-id{
    display:none;
}

.nav-banner .menu{
    top:-1500px;
}

#checkbox-id:checked +#wrapper nav ul{
    top:0;
    transition-duration: 1.5s;
}


