/*  Main layout Styling */
.main-layout {
    @include page-bg('https://i.imgur.com/Y0RLlqp.jpggulp');
    @include respond-to('wide') { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: em(10);
    p, h1, h2, a{
    font-family: $main-font;
    }
 }
}
/* Sets the heigh of the empty div*/
.space-holder {
    height: 100px;
    background-color: black;

}