.main-layout {
   @include respond-to('wide') { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: em(10);
    background-color: white;
    @include page-bg('https://i.imgur.com/Y0RLlqp.jpggulp');
   }
}